{
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "order/order": [
            "custom-properties",
            "dollar-variables",
            "at-variables",
            "declarations",
            "rules",
            "at-rules"
        ],
        "order/properties-order": [
            "content",
            "position",
            "z-index",
            "top",
            "bottom",
            "left",
            "left",
            "right",
            "clear",

            "box-sizing",
            "overflow",
            "float",
            "display",
            "flex-flow",
            "justify-content",
            "align-items",
            "flex",
            "flex-basis",
            "flex-direction",
            "flex-wrap",
            "flex-grow",
            "flex-shrink",
            "vertical-align",
            "width",
            "height",
            "max-width",
            "max-height",
            "min-width",
            "min-height",
            "margin",
            "margin-top",
            "margin-bottom",
            "margin-left",
            "margin-right",
            "padding",
            "padding-top",
            "padding-bottom",
            "padding-left",
            "padding-right",

            "color",
            "background",
            "background-color",
            "background-image",
            "background-repeat",
            "background-position",
            "background-size",
            "background-origin",
            "border",
            "border-top",
            "border-bottom",
            "border-left",
            "border-right",
            "border-radius",
            "box-shadow",
            "outline",
            "outline-color",
            "outline-offset",
            "outline-style",
            "outline-width",

            "font",
            "font-family",
            "font-size",
            "font-weight",
            "font-style",
            "line-height",
            "text-align",
            "text-transform",
            "text-decoration",
            "text-decoration-color",
            "text-decoration-line",
            "text-decoration-style",
            "text-shadow",
            "white-space",
            "word-wrap",
            "word-break",
            "word-spacing",

            "opacity",
            "visibility",
            "transform",
            "transform-origin",
            "transform-style",
            "transition",
            "transition-delay",
            "transition-duration",
            "transition-timing-function",
            "animation",
            "animation-name",
            "animation-duration",
            "animation-iteration-count",
            "animation-timing-function",
            "animation-delay",
            "animation-direction"
        ]
    }
}
