@import "./reboot";

.title {
    color: tomato;
    font-weight: 700;
}

.text {
    color: green;
    font-weight: 700;
    display: block;
    text-transform: capitalize;
    padding: 10px;
    margin: 10px;
    position: relative;
}
