<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>&nbsp;</p>
<p><span class="accordion__title txt-center">Questions and Answers</span></p>
<div class="ai">
    <div class="at">Can I redeem two or more drinks under the Coffee Subscription at the same time? Is there any limit?</div>
    <div class="ac">There is no limit under the Coffee Subscription. You can even redeem all drinks at once; they just need to be redeemed one by one.</div>
</div>
<div>&nbsp;</div>
<div class="ai">
    <div class="at">What size of a drink is available under CoffeeMap subscription?</div>
    <div class="ac">Size of a drink depends on the Coffee Shop. Most of our partner Coffee Shops offer drinks of a standard size, some of them offer large size drinks. Please ask barista at the Coffee Shop.</div>
</div>
<div class="ai">
    <div class="at">What drinks are included into &laquo;Black&raquo; и &laquo;White&raquo; Coffee Subscriptions?</div>
    <div class="ac">
        <p>Under &laquo;Black&raquo; subscription you can enjoy any black coffee of your choice: Espresso, Americano, Ristretto. To stay or to go. At some Coffee Shops &ndash; alternative coffee brewing methods are available.</p>
        <p>Under &laquo;White&raquo; subscription you can enjoy any drink of your choice, with milk or without. Cappuccino, Latte, Raf, Hot Chocolate, Cacao, Tea, Smoothie and other drinks. To stay or to go. Also includes any drink from &laquo;Black&raquo; subscription.</p>
    </div>
</div>
<div class="ai">
    <div class="at">I came to a partner Coffee Shop and Iwas refused a drink under CoffeeMap subscription!</div>
    <div class="ac">First and most important thing you should do at this situation, &ndash; without leaving the Coffee Shop, call us at&nbsp;<span style="color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;">+971&nbsp;</span><span style="color: #333333; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;">55 96 333 29</span>. We are sure it is just a misunderstanding and we will sort it out shortly.</div>
</div>
<div class="ai">
    <div class="at">What should I do if my mobile device does not show your service correctly?</div>
    <div class="ac">Our service works correctly on the following software: Android 5.1 and later versions (Browsers: Firefox 40+, Chrome 44+, IE 10+, Safari 9), IOS 8.4.1and later verions. If the version of your software IOS is earlier than version 8.4.1 &ndash; please update it, otherwise we will not be able to guarantee the correct service.</div>
</div>
<div class="ai">
    <div class="at">How do I know what coffee shops near me are CoffeeMap partners?</div>
    <div class="ac">Our interactive map shows location of all our partner coffee shops. No matter where you are, all you need to do is just open the mobile app or mobile version of the website and you will see where you can enjoy great coffee under CoffeeMap subscription.</div>
</div>
<div class="ai">
    <div class="at">Am I to use the Coffee Subscription only at one partner CoffeeShop?</div>
    <div class="ac">Absolutely no! This is the beauty of CoffeeMap. You have an opportunity to try a new drink every day, either at different places or at your favorite Coffee Shop. You are to choose!</div>
</div>
<div class="ai">
    <div class="at">What if my GPS is off and I do not want you to know my location?</div>
    <div class="ac">No problems! In case your GPS is off, you will see the Coffee Shops listed in the alphabetical order. Although it is not such fun, don&rsquo;t you think?</div>
</div>
<div class="ai">
    <div class="at">Why do you need the details of my accounts in social networks and what do you do with them?</div>
    <div class="ac">Signing in via Facebook account makes the registration easier. Also it is a simple way to share with your friends. And please, do not worry! We are not using your details for marketing purposes, and we shall never publish anything on your behalf.</div>
</div>
<div class="ai">
    <div class="at">What do I need to use CoffeeMap?</div>
    <div class="ac">You only need a smartphone and Internet!</div>
</div>
<div class="ai">
    <div class="at"><a href="terms">Public offer</a></div>
</div>
</body>
</html>
