@import "reboot";

.title {
    color: tomato;
    font-weight: 700;
}

.text {
    position: relative;
    display: block;
    margin: 10px;
    padding-bottom: 10px;
    color: green;
    font-weight: 700;
    text-transform: capitalize;
    transform: rotate(-5deg);
    overflow-y: hidden;
}
